<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysl.api.mapper.ClassCourseMapper">
    <select id="findAll" resultType="com.mysl.api.entity.dto.CourseDTO">
        SELECT c.id, c.title, c.description, date_format(sec_to_time(c.duration), '%H:%i:%s') AS duration,
        (SELECT count(media_id) FROM course_media WHERE course_id = c.id) AS media_num,
        IFNULL(cc.status, "UN_APPLICABLE") AS `status`, c.cover_path AS cover_url FROM course c
        LEFT JOIN class_course cc ON c.id = cc.course_id AND cc.class_id = #{class_id} WHERE c.active = 1 AND c.type = 'STAGE'
    </select>

    <select id="findMediaByClassIdAndCourseId" resultType="com.mysl.api.entity.dto.MediaDTO">
        SELECT
        m.id, m.title, m.type, m.description, m.img, m.url, m.created_at,
        date_format(sec_to_time(m.duration), '%H:%i:%s') AS duration
        FROM class_course cc
        LEFT JOIN course c ON cc.course_id = c.id
        LEFT JOIN course_media cm ON c.id = cm.course_id
        LEFT JOIN media m ON cm.media_id = m.id AND m.active
        WHERE
        cc.course_id = #{course_id} AND cc.class_id = #{class_id}
        ORDER BY m.created_at ASC
    </select>

    <update id="updateClassCourseStatus">
        UPDATE class_course SET
        status = #{status},
        updated_by = #{updated_by}
        WHERE class_id = #{class_id} AND course_id = #{course_id}
    </update>

    <select id="countByCourseIdAndStatus" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM class_course WHERE course_id = #{course_id} AND status = #{status}
    </select>

    <select id="findCompletedCourse" resultType="com.mysl.api.entity.dto.CourseSimpleDTO">
        SELECT c.id, c.title FROM class_course cc LEFT JOIN course c ON cc.course_id = c.id
        WHERE cc.class_id = #{class_id} AND cc.status = 'COMPLETED'
    </select>
</mapper>
