<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysl.api.mapper.ClassCourseMediaEventMapper">
    <select id="getEvent" resultType="com.mysl.api.entity.ClassCourseMediaEvent">
        SELECT * FROM class_course_media_event
        <where>
            class_course_id = #{class_course_id}
            AND media_id = #{media_id} AND player_event = #{event} AND !recorded
            ORDER BY created_at
            <if test="desc != null">
                desc
            </if>
            LIMIT 1
        </where>
    </select>

    <update id="updateRecorded">
        UPDATE class_course_media_event
        SET recorded = 1
        WHERE class_course_id = #{class_course_id} AND media_id = #{media_id} AND !recorded
    </update>
</mapper>
