<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysl.api.mapper.MediaMapper">
    <select id="findAll" resultType="com.mysl.api.entity.dto.MediaDTO">
        SELECT
        m.id, m.title, m.type, m.description, m.img, m.url, m.created_at,
        date_format(sec_to_time(m.duration), '%H:%i:%s') AS duration
        FROM media m
        <where>
            1 = 1
            <if test="id != null">
                AND m.id = #{id}
            </if>
            <if test="type != null">
                AND m.type = #{type}
            </if>
            <if test="publicly != null">
                AND m.publicly = #{publicly}
            </if>
        </where>
        ORDER BY m.created_at desc
        <if test="offset != null and limit!= null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="sumMediaDuration" resultType="java.lang.Integer">
        SELECT SUM(duration) FROM media
        <where>
            1 = 1
            <if test="media_ids != null">
                AND id IN
                <foreach item="id" index="index" collection="media_ids"
                         open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
