<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysl.api.mapper.StoreMapper">
    <resultMap id="store" type="com.mysl.api.entity.Store">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="number" property="number"/>
        <id column="manager_user_id" property="managerUserId"/>
        <id column="manager_id_card_num" property="managerIdCardNum"/>
        <id column="address" property="address"/>
        <id column="lat" property="lat"/>
        <id column="lng" property="lng"/>
        <id column="status" property="status"/>
        <id column="active" property="active"/>
        <id column="created_at" property="createdAt"/>
        <id column="created_by" property="createdBy"/>
        <id column="updated_at" property="updatedAt"/>
        <id column="updated_by" property="updatedBy"/>
    </resultMap>
    <select id="findAll" resultType="com.mysl.api.entity.dto.StoreFullDTO">
        SELECT
        s.id, s.status, s.name, s.number, s.address, s.lat, s.lng,
        u.name AS manager_name, u.phone AS manager_phone, s.manager_id_card_num, s.created_at,
        s.created_by, s.updated_at, s.updated_by, IFNULL(stn.student_num, 0) AS student_num
        FROM store s
        LEFT JOIN user u ON s.manager_user_id = u.id
        LEFT JOIN
        (SELECT st.store_id AS store_id, count(st.id) AS student_num FROM student st GROUP BY st.store_id) stn
        ON stn.store_id = s.id
        <where>
            1 = 1 AND s.active
            <if test="id != null">
                AND s.id = #{id}
            </if>
            <if test="status != null">
                AND s.status = #{status}
            </if>
            <if test="exclude_id != null">
                AND s.id != #{exclude_id}
            </if>
            <if test="name != null">
                <bind name="name" value="'%' + name + '%'"/>
                AND s.name LIKE #{name}
            </if>
            <if test="manager_user_ids != null and manager_user_ids.size() > 0">
                AND s.manager_user_id IN
                <foreach collection="manager_user_ids" index="index" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY s.created_at DESC
    </select>
</mapper>
